*{
    margin:0px;
    padding:0px;
}
.header1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.16);
}
.headerportion1, .hd12{
    display: flex;
    align-items: center;
    width:363px;
    justify-content: space-between;
    margin-left: 35px;
}
#headerportion2{
    display: flex;

}
#logo{
    height: 55px;
    width:55px;
}
h4{
    font-family: 'nunito' , sans-serif;
    color: #000000DE;
    font-size: 15px;
    font-weight: bolder;
}
h4:hover{
    cursor: pointer;
    color: #006241;
}
#location{
    display: flex;
}
#signin{
    font-family: 'nunito';
    font-weight: bolder;
    border: 1px solid black;
    border-radius: 30px;
    height: 32px;
    width: 77px;
}
#signin:hover{
    cursor: pointer;
    background-color: #e1f2f1;
}
#join{
    font-family: 'nunito';
    font-weight: bolder;
    margin-right: 30px;
    border: 1px solid black;
 
    border-radius: 30px;
    height: 32px;
    width: 92px;
    background-color: #000000DE;
    color: aliceblue;
}
#join:hover{
    cursor: pointer;
}
#loc{
    font-weight: bold;
    margin-right: 30px;
    margin-left: -15px;
}
#locatpng{
    margin-right: 15px;
}
#locatpng:hover {  
    cursor: pointer;
   color: #006241;
}
.blockimg1{
    height: 548px;
    width:50%px;
}
.contentblock1{
   display: flex;
   padding-top: 30px;
}
.parablock1{
    height:548px;
    width: 631px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    background-color: #CFE6B5;
}
.headingblock1{
    font-weight: bolder;
    font-size: 60px;
    color: #1D3C34;
    font-family: 'nunito';
    line-height: 1.0; 
}
.paragraphblock1{
    font-weight: bolder;
    font-size: 30px;
    color: #1D3C34;
    font-family: 'nunito';
}
.contentblockbutton{
    height:40px;
    width: 150px;
    margin-left: 235px;
    color: #1D3C34;
    font-family: 'nunito';
    font-weight: bolder;
    font-size: 18px;
    border-radius: 40px;
    border:1px solid black;
    background-color:#CFE6B5 ;
}
.contentblockbutton:hover{
    cursor: pointer;
    background-color:#e1f2f1 ;
}
.parablock2{
height:368px;
width: 631px;
display: flex;
flex-direction: column;
text-align: center;
justify-content: space-around;
background-color: #CFE6B5;
}
.blockimg2{
    height: 368px;
    width:50%px;
}
.headingblock2{
    font-weight: bolder;
    font-size: 30px;
    color: #1D3C34;
    font-family: 'nunito';
}
.paragraphblock2{
    font-weight: bolder;
    font-size: 20px;
    color: #1D3C34;
    font-family: 'nunito';
}
.contentblockbutton2{
    height:40px;
    width: 100px;
    margin-left: 235px;
    color: #1D3C34;
    font-family: 'nunito';
    font-weight: bolder;
    font-size: 15px;
    border-radius: 40px;
    border:1px solid black;
    background-color:#CFE6B5 ;
}
.membership{
    height:150px;
    width:100%;
    font-family: sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 70px;
    line-height: 1.5; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.12);
}
.foot-panel1{
	color:white;
	height:467px;
	display:flex;
	justify-content:space-evenly;
	padding-top:30px;

}
.foot-panel1  a{
	display:block;
    margin-top:30px;
	font-size:0.85rem;
	color: #888c8c;
    font-size: 18px;
    font-family: 'nunito';
}
.foot-panel1 a:hover{
    cursor: pointer;
    color:#000000DE;
}
ul p{
    color: #000000DE;
    font-family: 'nunito';
    font-size: 20px;
}
.foot-panel2{
    font-size: 35px;
    padding-left: 50px;
}
.foot-panel2 i {
    margin-right: 10px; /* Add space between icons */
}
.foot-panel2 i:last-child {
    margin-right: 0;
}
.foot-panel3{
    margin-left: 50px;

}
.foot-panel3 a{
    display: block;
    margin-top:30px;
	font-size:0.85rem;
	color: #000000DE;
    font-size: 18px;
    font-family: 'nunito';
}
.foot-panel3 a:hover{
    text-decoration: underline;
}
.foot-panel4{
    color:#00000094;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 30px;
}
